## Hypothesis Testing

Problem statement : TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

In [1]:
import pandas as pd
import numpy as np
import scipy
from scipy import stats

In [2]:
df=pd.read_csv('Costomer+OrderForm.csv')

In [3]:
df

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [4]:
df.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [5]:
df.tail()

    Phillippines   Indonesia       Malta       India
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [9]:
df.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [13]:
df.duplicated().sum()

290

In [23]:
df.isnull().sum()

Phillippines    0
Indonesia       0
Malta           0
India           0
dtype: int64

In [58]:
grouped_data = df.groupby(['Phillippines','Indonesia','Malta','India']).value_counts()

In [59]:
grouped_data

Phillippines  Indonesia   Malta       India
Defective     Defective   Error Free  Error Free      2
              Error Free  Defective   Error Free      4
                          Error Free  Defective       2
                                      Error Free     21
Error Free    Defective   Defective   Error Free      9
                          Error Free  Defective       2
                                      Error Free     20
              Error Free  Defective   Error Free     18
                          Error Free  Defective      16
                                      Error Free    206
Name: count, dtype: int64

In [60]:
df.Phillippines.value_counts()

Phillippines
Error Free    271
Defective      29
Name: count, dtype: int64

In [61]:
df.Indonesia.value_counts()

Indonesia
Error Free    267
Defective      33
Name: count, dtype: int64

In [62]:
df.Malta.value_counts()

Malta
Error Free    269
Defective      31
Name: count, dtype: int64

In [63]:
df.India.value_counts()

India
Error Free    280
Defective      20
Name: count, dtype: int64

In [64]:
# Make a contingency table
Data =np.array([[271,267,269,280],[29,33,31,20]])

In [66]:
Data_1=pd.DataFrame(Data)

In [67]:
Data_1

     0    1    2    3
0  271  267  269  280
1   29   33   31   20

In [69]:
from scipy.stats import chi2_contingency

In [70]:
stat,p,dof,expected = chi2_contingency(Data_1)

In [71]:
print("Chi-Squared Statistic:", stat)
print("P-Value:", p)
print("Degrees of Freedom:", dof)
print("Expected Frequencies:\n", expected)

Chi-Squared Statistic: 3.858960685820355
P-Value: 0.2771020991233135
Degrees of Freedom: 3
Expected Frequencies:
 [[271.75 271.75 271.75 271.75]
 [ 28.25  28.25  28.25  28.25]]

In [72]:
observed = np.array([271,267,269,280,29,33,31,20])
expected = np.array([271.75, 271.75, 271.75, 271.75 ,28.25 , 28.25 , 28.25,  28.25])

In [73]:
stat, p = stats.chisquare(observed, f_exp=expected, ddof = 3)
print("Statistics = ",stat,"\n",'P_Value = ', p)

Statistics =  3.858960685820355
 P_Value =  0.4254298144535761

In [74]:
# Set the significance level (alpha)
alpha = 0.05

In [77]:
if p <= alpha:
    print("HO : Accept null hypothesis : There is  no significant difference in the defective percentage among the centers")
else:
    print(" H1 : Reject null hypothesis there is a significant difference in the defective percentage among the centers")

 H1 : Reject null hypothesis there is a significant difference in the defective percentage among the centers