## Hypothesis Testing

Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

1. Check p-value
2. If p-Value < alpha, we reject Null Hypothesis

In [118]:
import pandas as pd
import numpy as np
import scipy
from scipy import stats

In [119]:
df=pd.read_csv('BuyerRatio.csv')

In [120]:
df.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [121]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Observed Values  2 non-null      object
 1   East             2 non-null      int64
 2   West             2 non-null      int64
 3   North            2 non-null      int64
 4   South            2 non-null      int64
dtypes: int64(4), object(1)
memory usage: 212.0+ bytes

In [122]:
df.describe()

             East         West        North       South
count    2.000000     2.000000     2.000000    2.000000
mean   242.500000   832.500000   743.500000  410.000000
std    272.236111   976.514465   866.205807  480.832611
min     50.000000   142.000000   131.000000   70.000000
25%    146.250000   487.250000   437.250000  240.000000
50%    242.500000   832.500000   743.500000  410.000000
75%    338.750000  1177.750000  1049.750000  580.000000
max    435.000000  1523.000000  1356.000000  750.000000

In [123]:
# Null hypothesis (H0) : All proportion are equal 
#ALternative hypothesis (H1) : Not all proportions are equal

In [124]:
from scipy.stats import chi2_contingency

In [125]:
data = [[50, 142, 131, 70], [435, 1523, 1356, 750]]

In [126]:
df1 = pd.DataFrame(data)

In [127]:
df1

     0     1     2    3
0   50   142   131   70
1  435  1523  1356  750

In [128]:
stat,p,dof,expected = chi2_contingency(df1)

In [129]:
print("Chi-Squared Statistic:", stat)
print("P-Value:", p)
print("Degrees of Freedom:", dof)
print("Expected Frequencies:\n", expected)

Chi-Squared Statistic: 1.595945538661058
P-Value: 0.6603094907091882
Degrees of Freedom: 3
Expected Frequencies:
 [[  42.76531299  146.81287862  131.11756787   72.30424052]
 [ 442.23468701 1518.18712138 1355.88243213  747.69575948]]

In [130]:
observed = np.array([50, 142, 131, 70, 435, 1523, 1356, 750])
expected = np.array([42.76531299 ,146.81287862, 131.11756787 ,72.30424052, 442.23468701,1518.18712138,1355.88243213,747.69575948])

In [131]:
stat, p = stats.chisquare(observed, f_exp=expected, ddof = 3)
print("Statistics = ",stat,"\n",'P_Value = ', p)

Statistics =  1.5959455390914483
 P_Value =  0.8095206646905712

In [132]:
# Set the significance level (alpha)
alpha = 0.05

In [133]:
if p < alpha:
    print("\nReject the Null Hypothesis: Not all proportions are equal.")
else:
    print("\nFail to Reject the Null Hypothesis: All proportions are equal.")

Fail to Reject the Null Hypothesis: All proportions are equal.